.title {
    font-size: 0.9em;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: darkcyan;
    font-weight: bold;
    text-align: center;
  }
  
  .address {
    font-size: 0.5em;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .timestamp {
  font-size: 15px;
  word-wrap: break-word;
  color: darkcyan;
  font-weight: bold;
  text-align: center;
  }
  
  .advert {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 50px;
  border: 4px;
  border-style: solid;
  border-radius: 50%;
  border-color: darkcyan;
  font-size: 50px;
  background: black;
  
  width: 22em;
  height: 22em;
  position: relative;
  }
  
  .advert-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  