.slider_styles {
  position: "relative";
  height: "100%";
}

.right_arrow_styles {
  position: "absolute";
  top: "50%";
  transform: "translate(0, -50%)";
  right: "32px";
  fontSize: "45px";
  color: "#fff";
  zIndex: 1;
  cursor: "pointer";
}

.left_arrow_styles {
  position: "absolute";
  top: "50%";
  transform: "translate(0, -50%)";
  left: "32px";
  fontSize: "45px";
  color: "#fff";
  zIndex: 1;
  cursor: "pointer";
}