.title {
  font-size: 30px;
  margin-top: 38px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  word-wrap: break-word;
  color: black;
  font-weight: bold;
  text-align: center;
}

.address {
  font-size: 15px;
  margin-top: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  word-wrap: break-word;
  color: #491f00;
  font-weight: bold;
  text-align: center;
}

.advert {
display: inline-block;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 7.5px;
margin: 38px;
border: 3px;
border-style: solid;
border-radius:10%;
border-color: black;
font-size: 38px;
background: #e8e8e8;

width: 675px;
height: 675px;
position: relative;
}

.advert-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
