.slider {
  position: relative;
  height: 100%;
}

#right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(350%, -50%);
  right: 24px;
  font-size: 34px;
  color: black;
  z-index: 1;
  cursor: pointer;
}

#left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(-350%, -50%);
  left: 24px;
  font-size: 34px;
  color: black;
  z-index: 1;
  cursor: pointer;
}